* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
}

nav a {
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

.top {
  padding: 30px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 23px;
}

.content1 {
  padding: 30px 300px;
  display: flex;
  gap: 20px;
  height: 350px;
}

.content1 p {
  max-width: 405px;
  padding-bottom: 20px;
  font-size: 18px;
  color: #e5e7eb;
}

.content1 h1 {
  padding-bottom: 20px;
  width: 350px;
  color: #f9faf8;
  font-size: 48px;
}

.content1 button {
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background-color: #3882f6;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: 0px solid white;
  font-size: 15px;
}

.placeholder {
  display: flex;
  align-items: center;
  color: white;
  background-color: #6d747d;
  width: 500px;
  height: 200px;
  margin-left: auto;
  justify-content: center;
}

section .textheading {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 40px;
}

.content2 .box {
  display: flex;
  border: 3px solid #3882f6;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.content2 {
  padding: 30px 300px;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container p {
  padding-top: 10px;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 30px 300px;
  height: 350px;
  background-color: #e5e7eb;
}

.content3 p {
  font-size: 36px;
  font-style: italic;
}

.content3 div {
  font-size: 20px;
  font-weight: bold;
}

.content4 {
  padding: 30px 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;

  color: white;
}

footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
}

.part1 {
  background-color: #3882f6;
}

.part1 button {
  margin-left: 150px;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background-color: #3882f6;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  font-size: 15px;
}

.testfinal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  padding: 50px 200px;
  border-radius: 10px;
}
